body {
    font-family: Arial;
    padding: 20px;
}

.productos {
    display: flex;
    gap: 20px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    width: 180px;
    text-align: center;
}
