* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #eaeded;
}

/* ===== HEADER ===== */

.header {
  background: #131921;
  color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.header input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.carrito-icono {
  font-size: 20px;
  cursor: pointer;
}

#contador {
  background: orange;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
}

/* ===== CATEGORIAS ===== */

.categorias {
  background: #232f3e;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.categorias button {
  background: #37475a;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.categorias button:hover {
  background: #485769;
}

/* ===== CONTENIDO ===== */

.contenedor {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.tienda {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  background: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.producto img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.producto button {
  background: #ffd814;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.producto button:hover {
  background: #f7ca00;
}

/* ===== CARRITO ===== */

.carrito {
  width: 30%;
  background: white;
  padding: 15px;
  border-radius: 6px;
}

.carrito button {
  width: 100%;
  padding: 10px;
  background: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
}
.checkout {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 1000;
}

.checkout input {
  width: 100%;
  padding: 10px;
}
