* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

/* HEADER */
header {
  background: #131921;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 22px;
}

header span {
  color: #f3a847;
}

/* TIENDA */
.tienda {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
}

/* PRODUCTO */
.producto {
  background: white;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.producto h3 {
  font-size: 16px;
  margin: 10px 0;
}

.producto p {
  font-size: 18px;
  font-weight: bold;
  color: #b12704;
}

.producto button {
  background: #f3a847;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.producto button:hover {
  background: #ddb347;
}

/* LOGIN ADMIN */
.login-admin {
  max-width: 300px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.login-admin input {
  width: 100%;
  padding: 10px;
}

/* PANEL */
.admin input {
  padding: 10px;
  margin: 5px;
}
