body {
    margin: 0;
    font-family: Arial;
    background: #eaeded;
}

.top {
    background: #131921;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#carritoBtn {
    cursor: pointer;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.card img {
    width: 100%;
}

.card button {
    background: #ffd814;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}

.carrito {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background: white;
    padding: 15px;
    transition: 0.3s;
    box-shadow: -2px 0 10px rgba(0,0,0,0.3);
}
.logo {
    font-weight: bold;
}

.menu {
    background: #232f3e;
    padding: 10px;
}

.menu button {
    background: transparent;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

#buscador {
    width: 40%;
    padding: 5px;
}