body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: #131921;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito-btn {
  background: #febd69;
  color: black;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 25px;
}

.producto {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
  transition: transform .2s;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.producto button {
  background: #0071e3;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: none;
  justify-content: flex-end;
}

.boleta {
  background: white;
  width: 350px;
  height: 100%;
  padding: 20px;
  animation: slide .4s ease;
  overflow-y: auto;
}

@keyframes slide {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cantidad {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.cantidad button {
  width: 30px;
}

.btn-finalizar {
  background: #25D366;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 16px;
}

.btn-cerrar {
  background: #ccc;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
}
