* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f2f2f2;
}

header {
  background: #1f2937;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header input {
  padding: 8px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 25px;
}

.producto {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  transition: .3s;
}

.producto:hover {
  transform: translateY(-5px);
}

.producto img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.producto button {
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.carrito-flotante {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2563eb;
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}

#modal-carrito {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  animation: aparecer .3s ease;
}

@keyframes aparecer {
  from {
    transform: scale(.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.item {
  margin: 10px 0;
}

.cantidad {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.cantidad button {
  width: 30px;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.verde { background: #22c55e; color: white; }
.rojo  { background: #ef4444; color: white; }
